<template name="discover">
  <div class="container">
    <div class="row">
      {{#if acts}}
        {{#each acts}}
          {{> act}}
        {{/each}}
      {{else}}
        <div class="col-xs-12">
          <div class="centered">
          <p class="lead">No Acts of Kindness</p>
          <p>
            <a href="{{pathFor 'create'}}">Create One</a>
          </p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
<template name="act">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{cfsFileUrl 'default' fileId=photoId collection='ActsFS'}}" class="img-responsive" alt="{{photoId}}">
      <div class="caption">
        <strong>{{username}}</strong>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</template>