<template name="act">
  <div class="container act">
    {{#with act}}
      <div class="thumbnail">
        <div class="actions">
          <i class="fa fa-star inspire"></i>
        </div>
        <img src="{{cfsFileUrl 'default' fileId=photoId collection='ActsFS'}}" class="img-responsive" alt="{{photoId}}">
        <div class="caption">
          <strong>{{username}}</strong>
          <p>{{timeAgo}}</p>
          <p class="lead">{{description}}</p>
        </div>
      </div>
      <div>
        <p class="lead">This act has inspired {{inspiredCount}} others.</p>
      </div>
    {{/with}}
  </div>
</template>