<template name="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h5>My Acts of Kindness</h5>
        {{#if acts}}
          {{#each acts}}
            {{> myAct}}
          {{/each}}
        {{else}}
          <div class="col-xs-12">
            <div class="centered">
            <p class="lead">No Acts of Kindness</p>
            <p>
              <a href="{{pathFor 'create'}}">Create One</a>
            </p>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h5>My Inspirations</h5>
        {{#if inspirations}}
          {{#each inspirations}}
            {{> myAct}}
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="myAct">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{cfsFileUrl 'default' fileId=photoId collection='ActsFS'}}" class="img-responsive" alt="{{photoId}}">
      <div class="caption">
        <strong>{{username}}</strong>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</template>