<template name="footer">
  <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <ul class="nav nav-justified">
      <li>
        <a class="menu-item" href="{{pathFor 'homepage'}}">
          <i class="fa fa-shopping-cart icon"></i>
          <span class="text">Discover</span>
        </a>
      </li>
      <li>
        <a class="menu-item" href="{{pathFor 'homepage'}}">
          <i class="fa fa-shopping-cart icon"></i>
          <span class="text">My stuff</span>
        </a>
      </li>
    </ul>
  </div>
</template>